:root {
  --secondary: #3f2973;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;

  min-height: 100vh;
  padding: 4.8rem 0 10rem 0;

  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url('../img/portal.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  border: none;
  padding: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
}

.glass {
  backdrop-filter: blur(15px);
  box-shadow: 0px 12px 16px -4px rgba(0, 0, 0, 0.3);
}

.episodes {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-auto-rows: 1fr;
  justify-content: center;

  list-style: none;
  margin: 0;
  padding: 0;
}

.episode {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.4rem;
  color: #1f1f1f;
}

.episode__info {
  margin: 0.25em 0 0 0;
}

.episode__name {
  font-size: 2em;
  margin: 0 0 1rem;
  position: relative;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.episode__name::before {
  position: absolute;
  bottom: -0.1em;
  left: 0;
  content: '';
  width: 12%;
  height: 0.15em;
  background-color: var(--secondary);
  box-shadow: 0px 1px 2px rgba(45, 29, 82, 0.3);
  border-radius: 1.5px;
}

.episode__episode {
  color: var(--secondary);
  text-shadow: 0px 1px 2px rgba(45, 29, 82, 0.3);
  font-weight: 700;
  margin-right: 0.25em;
}

.episode__air-date {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.pagination {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.75em;
  margin-bottom: 2em;
}

.pagination__btn {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.3),
    0 4px 16px 0px rgba(0, 0, 0, 0.3);
}

.pagination__btn--selected {
  background-color: rgba(255, 255, 255, 0.75);
}
